<main class="bio"><div class="innerbio"><img src="/$journalist.getPicture()" alt="" class="profile"/>
    <h1>   $journalist.getName()</h1>
    <p>   $journalist.getTwitter()</p>
    <p>   $journalist.getBio()</p></div></main>
#foreach($article in $articles)
<article class="storypreview">
<img src="/$article.getImage()" alt="" class=""/>
<a href="/articles/$article.getId()"><h2>$article.getTitle()</h2></a>
    <p>$article.getHumanDate()</p>
    <p>$article.getSummary()</p></article>
#end