body {
font-family: Arial, sans-serif;
color: #2699FB;
}

a {
  text-decoration: none;
  color: #2699fb;
}

.grid {
  display: grid;
  height: 100vh;
  width: auto;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 5fr;
  padding: 0px 0px;
}

table{
border-collapse: collapse;
}

td {
  padding: 10px 20px;
}

.entry {
 border-bottom: 2px #7FC4FD solid;
}

.bottom-border{
    padding:0px 0px;
    border-bottom: 2px #7FC4FD solid;
}

.profile {
  height: 10vh;
  width: auto;
  border-radius: 50%;
  margin: 1vh;
}

h1 {
grid-area: 1/2/span 1/span 1;
justify-self: center;
}

.list-table {
  grid-area: 1/2/span 2/span 1;
  margin-top: 10vh;
  justify-self: center;
}

form {
  grid-area: 2/2/span 1/span 1;
  justify-self: center;
}

.login {
  grid-area(1/2/span 1/span 1)
  justify-self: center;
}

i.delete-icon {
  color: blue;
}