body {
font-family: Arial, sans-serif;
color: #2699FB;
}

.grid {
  display: grid;
  height: 150vh;
  width: 100vw;
  grid-template-columns: repeat 4 1fr;
  grid-template-rows: repeat 4 1fr;
  grid-gap: 20px 10px;
  padding: 0px 20px;
  grid-auto-flow:
}

img {
  height: 25vh;
}

.profile {
  height: 10vh;
  width: auto;
}

.hero {
  height: 60vh;
  width: auto;
}

.sidebarimage {
  height: 15vh;
  width: auto;
}

.frontpage {
    grid-area: auto / auto / span 1/ span 1;
}


.sidebar{
  grid-area: 1/ 4/ span 1/ span 1;
  background-color: #F1F9FF;
}
