<!DOCTYPE html>
<html>
<head>
    <title>A News Site</title>
    <link rel="stylesheet" href="/editorstyle.css"/>
    <link rel="stylesheet" href="/nav.css"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/editor/articles">View Articles</a></li>
        <li> <a href="/editor/articles/new">New Article</a></li>
        <li> <a href="/editor/journalists">View Journalists</a></li>
        <li><a href="/editor/journalists/new">New Journalist</a></li>
    </ul>
</nav>
<main class="grid">
<!-- begin inner template-->
    #parse( $template )
<!-- end inner template-->
</main>
</body>
</html>