<!DOCTYPE html>
<html>
<head>
    <title>A News Site</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/editor/articles">View Articles</a></li>
        <li> <a href="/editor/articles/new">New Article</a></li>
        <li> <a href="/editor/journalists">View Journalists</a></li>
        <li><a href="/editor/journalists/new">New Journalist</a></li>
    </ul>
</nav>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->

</html>