 #foreach($article in $articles)
 <article class ="frontpage-story-preview"><img src="$article.getImage()" alt="" />
     <a href="/articles/$article.getId()"><h2>$article.getTitle()</h2></a>
     <p>$article.showHumanDate()</p>
     <p>$article.getSummary()</p>
</p></article>#end