<!DOCTYPE html>
<html>
<head>
    <title>A News Site</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" href="/nav.css"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Editor Login</a></li>
    </ul>
</nav>
<main  class="grid">
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->

<aside class="sidebar">    #foreach($featurearticle in $featurearticles)
    <article><img src="/$featurearticle.getImage()" alt="" class="sidebarimage"/>
        <a href="/articles/$featurearticle.getId()"><h5>$featurearticle.getTitle()</h5></article>
    #end</aside>
</main>
</body>
</html>