<!DOCTYPE html>
<html>
<head>
    <title>A News Site</title>
    <link rel="stylesheet" href="/frontstyle.css"/>
    <link rel="stylesheet" href="/nav.css"/>
    <link rel="stylesheet" href="/article.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/articles/category/uk">UK</a></li>
        <li><a href="/articles/category/world">World</a></li>
        <li><a href="/articles/category/politics">Politics</a></li>
        <li><a href="/articles/category/science">Science</a></li>
        <li><a href="/articles/category/sports">Sports</a></li>
        <li><a href="/login">Log In</a></li>
    </ul>
</nav>
<main  class="grid">
<!-- begin inner template-->
    #parse( $template )
<!-- end inner template-->
<aside class="sidebar">    #foreach($featurearticle in $featurearticles)
   <article class="sidebar-story"> <a href="/articles/$featurearticle.getId()"><img src="/$featurearticle.getImage()" alt="" class="sidebarimage"/>
       <h5>$featurearticle.getTitle()</h5></a></article>
    #end</aside>
</main>
</body>
</html>