<!DOCTYPE html>
<html>
<head>
    <title>A News Site</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
    </ul>
</nav>
<!-- begin inner template-->
<div class="container">
    #parse( $template )
</div>
<!-- end inner template-->

<aside>    #foreach($featurearticle in $featurearticles)
    <article><img src="$article.getImage()" alt=""/>
        <h2>$featurearticle.getTitle()</h2>
        <p>$featurearticle.getDate()</p>
        <p>$featurearticle.getSummary()</p>
        <p><a href="/articles/$featurearticle.getId()">Read More</a></p></article>
    #end</aside>

<footer><p><a href="/login">Editor Login</a></p> s</footer>
</body>

</html>