<form action="/editor" method="post" class="login">
    <label for="password">Enter Editor Password</label>
    <br />
    <input type="password" name="password" id="password"/>
    <input type="submit" value="Login"/>
</form>