<h1>$category.getCategoryName()</h1>

#foreach($article in $articles)
<article><img src="/$article.getImage()" alt="" height=250px/>
    <h2>$article.getTitle()</h2>
    <p>$article.getDate()</p>
    <p>$article.getSummary()</p>
    <p><a href="/articles/$article.getId()">Read More</a></p></article>
#end