<h1>$article.getTitle()</h1>
<a href="/journalists/$article.getJournalist().getId()"><h2>$article.getJournalist().getName()</h2></a>
<h3>$article.getCategory().getCategoryName()</h3>
<h3>$article.getDate()</h3>

<p>$article.getContent()</p>
<input type="image" src="/$article.getImage()" alt=""/>